<div class="text-center">
<%= simple_form_for Product.new, :html => { class: "form-inline" } do |form| %>
  <%= form.text_field :cowboom_id, placeholder: "Cowboom URL/product id", :input_html => { rows: 1 } %>
  <%= form.submit "Track Product", class: "btn btn-primary" %>
<% end %>
</div>
