<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Cowify</a>
    <ul class="nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
    </ul>
  </div>
</div>
